<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<form [formGroup]="escritosForm" (ngSubmit)="guardar">
  .<div class="mb-3 form-group">
    <label for="" class="form-label">Nro Escrito</label>
    <input type="text" formControlName="nro_escrito" name="nro_escrito" id="nro_escrito_id" class="form-control" placeholder="What is the Number?" aria-describedby="helpId">
  </div>
  <div class="mb-3 form-group">
    <label for="" class="form-label">Nro Escrito</label>
    <input type="text" formControlName="nro_escrito" name="nro_escrito" id="nro_escrito_id" class="form-control" placeholder="What is the Number?" aria-describedby="helpId">
  </div>
  <div class="mb-3 form-group">
    <label for="" class="form-label">Nro Escrito</label>
    <input type="text" formControlName="nro_escrito" name="nro_escrito" id="nro_escrito_id" class="form-control" placeholder="What is the Number?" aria-describedby="helpId">
  </div>
  <div class="mb-3 form-group">
    <label for="" class="form-label">Nro Escrito</label>
    <input type="text" formControlName="nro_escrito" name="nro_escrito" id="nro_escrito_id" class="form-control" placeholder="What is the Number?" aria-describedby="helpId">
  </div>

</form>

<router-outlet></router-outlet>
