<table class="table table-dark table-striped-columns">
    <thead>
        <tr>
            <th>ID</th>
            <th>Estado</th>
            <th>Operador</th>
            <th>Nro Conexiones</th>
            <th>Coordenadas</th>
            <th>País</th>
        </tr>
    </thead>
    <tbody>
        @for (points of chargingPoints; track points.id) {
        <tr>
            <td>{{ points.id }}</td>
            <td>{{ points.status }}</td>
            <td>{{ points.operator }}</td>
            <td>{{ points.connections }}</td>
            <td>{{ points.latitude }}, {{ points.longitude }}</td>
            <td>{{ points.country }}</td>
        </tr>
        }
    </tbody>
</table>